*{
    margin:0;
    padding:0;
}

.container{
    display: flex;
}

.intro{
    margin-top: 8%;
    margin-left: 5%;
    /* display: flex; */
    /* width:85%; */
}

.intro-desc{
    margin-top: 20%;
    width:45%;
}


.container-image{
    width:55%;
}

.container-image img{
    width:100%;
}

.intro-desc h1{
    font-size:60px;
}

.one-word{
    color:#ff9251;
}

p{
    text-align: justify;
    font-size:20px;
    margin-top:4%;
}

.link-button{
    display: block;
    border-radius: 100px;
    margin-top: 10%;
    padding: 24px 32px;
    width: 140px;
    height: 25px;
    background-image: linear-gradient(#FBA24F, #FF1E1E);
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
    color:white;
}

.about{
    background-image:url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:5%;
    padding-left:15%;
    padding-right:5%;
}

.image{
    width: 30%;
    
}

.image img{
    width: 100%;
}

.about-desc{
    width: 50%;
    margin: 15% 0 0 20%;
}

.recipies-section{
    margin-top:60px;
    height: 730px;
}

.recipies-head{
    /* border-style: solid;
    border-color: red; */
    margin:auto;
    width:50%;
    text-align: center;
}
.recipies-head h1{
    font-size:36px;
    font-weight: 700;
    color: #676767;
}
.recipies-head p{
    font-size: 18px;
    text-align: center;
}

.recipies-list{
    display: flex;
    /* padding-left: 50px; */
    
}

.card{
    margin:2%;
    padding: 20px;
    height: 520px;
    width:26%;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    float: left;
}

.card-image{
    width: 100%;
    height: 256px;
}
.card-image img{
    width: 100%;
    height: 100%;
    border-radius: 20px;

}

.card-body{
    margin-top:40px;
    height: 178px;
    color:#18191F;
}
.card-body p{
    height: 125px;
    overflow: hidden;
    white-space:pre-line;
    text-overflow: ellipsis;
    font-size:18px;
    
}
.card-body h1{
    font-size:28px;
    font-weight: 800;
}


.statistics-section{
    margin: 10% auto;
    height: 226px;
    width: 80%;

    display: flex;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.stats{
    margin-top: 64px;
    margin-left: 6% ;
    height: 98px;
    width: 60%;
    /* text-align: center; */
}

.stats h1{
    font-size:48px;
    font-weight: 700;


}
